<h1>How many times does your word appear in this sentence?</h1>

<form action='/result'>

  <div class="form-group">
    <input id="first_sentence" name="first_sentence" class="form-control" type="text" placeholder="Enter your sentence here">
  <div>
  <div class="form-group">
    <input id="search_word" name="search_word" class="form-control" type="text" placeholder="Enter the word you want to search for here">
  </div>

  <button type="submit" class="btn button-color" >Go!</button>
</form>
